.form label {
    display: block;
    font-size: 20px;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin-bottom: 10px;
}

.form label:last-of-type {
    margin-bottom: 50px;
}

.form input {
    width: 100%;
    font-family: "ErasDemi";
    font-size: 20px;
    color: var(--blue-cursor);
    background-color: transparent;
    padding: 10px 0;
    border: none;
}

.form input:hover {
    cursor: pointer;
}

.form input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.form input[type='submit'] {
    width: 100%;
    color: var(--white);
    background-color: var(--gray-btn);
    padding: 10px 0;
}

@media screen and (max-width: 450px) {
    .form label {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}