.player {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 28px;
    color: var(--white);
}

.player__name {
    flex-basis: 40%;
    color: var(--white);
    text-decoration: none;
}

.player__name:hover {
    cursor: pointer;
}

.player__nationality {
    flex-basis: 18%;
    font-size: 18px;
    color: var(--blue-cursor);
    overflow-wrap: anywhere;
}

.player__club {
    flex-basis: 19%;
    font-size: 18px;
    color: yellow;
    overflow-wrap: anywhere;
}

.player__position {
    flex-basis: calc(23% - 30px);
    font-size: 18px;
    color: var(--orange);
    overflow-wrap: anywhere;
}

.player__age {
    flex-basis: 30px;
    font-size: 18px;
    text-align: right;
    color: var(--white);
}

.player__name,
.player__nationality,
.player__club,
.player__position {
    padding-right: 5px;
}

@media screen and (max-width: 1199px) {
    .player__name {
        flex-basis: 48%;
    }

    .player__nationality {
        display: none;
    }

    .player__club {
        flex-basis: 23%;
    }

    .player__position {
        flex-basis: calc(29% - 30px);
    }
}

@media screen and (max-width: 991px) {
    .player__name {
        flex-basis: 63%;
    }

    .player__club {
        display: none;
    }

    .player__position {
        flex-basis: calc(37% - 30px);
    }
}

@media screen and (max-width: 767px) {
    .player__name {
        flex-basis: calc(100% - 30px);
    }

    .player__position {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .player {
        font-size: 24px;
    }

    .player__name {
        flex-basis: 100%;
        padding-right: 0;
    }

    .player__age {
        display: none;
    }
}