.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header a {
    display: block;
    text-decoration: none;
}

.header .title {
    font-family: "HandelGothic";
    font-size: 44px;
    font-weight: 100;
    text-align: center;
    color: var(--white);
    background-color: red;
    padding: 25px;
}

.header .title--mobile {
    display: none;
}

@media screen and (max-width: 991px) {
    .header .title {
        display: none;
        font-size: 36px;
        padding: 15px;
    }

    .header .title--mobile {
        display: block;
    }
}

@media screen and (max-width: 575px) {
    .header .title {
        font-size: 30px;
        padding: 10px;
    }
}