.container {
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1140px;
    min-height: calc(100vh - 28px);
    margin: 0 auto;
    padding-top: 101px;
}

.content {
    padding: 20px;
}

/* searchbar */
.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.searchbar span {
    display: inline-block;
    width: 200px;
    font-size: 18px;
    text-align: center;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 0;
    margin-right: 2px;
}

.searchbar input {
    font-family: "ErasDemi";
    font-size: 18px;
    color: var(--blue-cursor);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 50px;
    border: none;
}

.searchbar input:hover {
    cursor: pointer;
}

.searchbar input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.searchbar .reset {
    font-family: "ErasDemi";
    font-size: 16px;
    color: var(--white);
    background-color: var(--gray-btn);
    padding: 6.5px 50px;
    border: none;
    box-shadow: inset -2px -2px 2px 0px rgba(0, 0, 0, 0.6), inset 2px 2px 2px 0px rgba(255, 255, 255, .6);
}

.searchbar .reset:hover {
    cursor: pointer;
}

.searchbar .reset:focus {
    outline: none;
    border: none;
}

/* filters */
.filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.filter span {
    display: inline-block;
    width: 200px;
    font-size: 18px;
    text-align: center;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 0;
    margin-right: 2px;
}

.filter input {
    display: none;
}

.filter input:checked+label {
    border: 2px solid yellow;
}

.filter label {
    font-family: "ErasDemi";
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--white);
    padding: 3px 8px;
    margin-right: 2px;
    border: 2px solid transparent;
}

.filter label:hover {
    cursor: pointer;
}

/* talents list */
.content__title {
    font-size: 28px;
    text-align: center;
    color: yellow;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin-bottom: 10px;
}

.loading, .none {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 28px;
    color: var(--white);
}

.players {
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
}

@media screen and (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (max-width: 991px) {
    .container {
        max-width: 720px;
        padding-top: 71px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        background-position: 30% center;
        max-width: 540px;
    }

    .searchbar {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .searchbar .search {
        display: flex;
        flex-direction: column;
    }

    .searchbar span {
        margin-bottom: 10px;
    }

    .searchbar input {
        padding: 5px 25px;
    }

    .searchbar .reset {
        order: -1;
        margin-bottom: 10px;
    }

    .filter {
        display: block;
        margin-bottom: 15px;
    }

    .filter span {
        display: block;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 575px) {
    .container {
        max-width: 100%;
        padding-top: 55px;
    }

    .loading, .none {
        font-size: 24px;
    }
}