.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.searchbar span {
    font-size: 18px;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 50px;
    margin-right: 2px;
}

.searchbar input {
    font-family: "ErasDemi";
    font-size: 18px;
    color: var(--blue-cursor);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 50px;
    border: none;
}

.searchbar input:hover {
    cursor: pointer;
}

.searchbar input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.searchbar .filters {
    font-family: "ErasDemi";
    font-size: 16px;
    color: var(--white);
    background-color: var(--gray-btn);
    padding: 6.5px 50px;
    border: none;
}

.searchbar .filters:hover {
    cursor: pointer;
}

.searchbar .filters:focus {
    outline: none;
    border: none;
    box-shadow: none;
}