.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--gray-btn);
}

.footer .summary {
    color: var(--white);
    text-align: center;
    padding: 5px 0;
    box-shadow: inset -2px -2px 2px 0px rgba(0, 0, 0, 0.6), inset 2px 2px 2px 0px rgba(255, 255, 255, .6);
}