.img {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.img img {
    max-width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
    font-family: "ErasDemi";
    font-size: 28px;
    color: var(--white);
    text-decoration: none;
    background-color: var(--gray-btn);
    margin-top: 10px;
    padding: 8px 80px;
    border: none;
    box-shadow: inset -2px -2px 2px 0px rgba(0, 0, 0, 0.6), inset 2px 2px 2px 0px rgba(255, 255, 255, .6);
}

@media screen and (max-width: 991px) {
    .btn {
        padding: 7px 70px;
    }
}

@media screen and (max-width: 767px) {
    .btn {
        padding: 6px 60px;
    }
}

@media screen and (max-width: 575px) {
    .img {
        padding: 0;
    }

    .btn {
        font-size: 24px;
        padding: 5px 50px;
    }
}