@font-face {
  font-family: "HandelGothic";
  src: local("HandelGothic"), url("./fonts/HANDGOTN.TTF") format("truetype");
}

@font-face {
  font-family: "ErasDemi";
  src: local("ErasDemi"), url("./fonts/erasdemi.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-cursor: rgb(132, 255, 255);
  --blue-gradient: rgb(0, 0, 123);
  --gray-btn: #848284;
  --green-dark: rgb(0, 56, 0);
  --green-light: rgb(0, 65, 0);
  --green-text: rgb(0, 195, 0);
  --orange: rgb(255, 130, 0);
  --white: rgb(231, 227, 231);
}

body {
  display: flex;
  flex-direction: column;
  font-family: "ErasDemi", Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(var(--blue-gradient), black);
  overflow-x: hidden;
}

.container {
  background-image: url("./images/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1140px;
  min-height: calc(100vh - 28px);
  margin: 0 auto;
  padding-top: 101px;
  padding-bottom: 28px;
}

.content {
  padding: 20px;
}

@media screen and (max-width: 1199px) {
  .container {
      max-width: 960px;
  }
}

@media screen and (max-width: 991px) {
  .container {
      max-width: 720px;
      padding-top: 71px;
  }
}

@media screen and (max-width: 767px) {
  .container {
      background-position: 30% center;
      max-width: 540px;
  }
}

@media screen and (max-width: 575px) {
  .container {
      max-width: 100%;
      padding-top: 55px;
  }
}